@model List<OnlineWallet.Models.Transaction>

@{
    ViewData["PageTitle"] = "Transaction";

}

<div class="row">
    <div class="col-md-7">
        <ejs-grid id="transaction" dataSource="@Model" gridLines="None"
                  allowSorting="true" allowPaging="true">
            <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="Descriptor" field="Descriptor" textAlign="Center" width="110px"></e-grid-column>
                <e-grid-column headerText="Date" field="Date" width="110px"
                    type="date" format="MMM-dd-yy" textAlign="Left"></e-grid-column>
                <e-grid-column headerText="Amount" field="FormattedAmount" textAlign="Right" width="110px"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
</div>